<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adiwiyata_admin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/adiwiyata_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/adiwiyata_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.adiwiyata_admin">
        <activity android:name=".QRCode"></activity>
        <activity android:name=".EditTnmnActivity" />
        <activity android:name=".qrscanner" />
        <activity android:name=".ListTanaman" />
        <activity android:name=".TambahTnmnActivity" />
        <activity android:name=".TnmnActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>